/*UI STYLE*/

body {
  font-family: nimbus-sans-extended, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  margin: 0;
  background-color: black; 
  overflow-x:hidden;
  height: 100%;
  width: 100%;
}

/* general stuff */

h1, h2, h3, h4, h5, h6, figure {
  font-family: nimbus-sans-extended, sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 66px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

/* Buttons */

.btn {
  width: 75%;
  border: 2px solid white;
  font-family: nimbus-sans-extended, sans-serif;
  font-size: 26px;
  font-weight: 400;
  padding: 10px;
	margin: 20px 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 250ms ease-in-out, transform 150ms ease;
}

.btn:hover {
  background: white;
  color: black;
}

.btn:active, .btn:focus {
  background: rgb(228, 219, 219);
  border: rgb(228, 219, 219) 2px solid;
  color: black;
  box-shadow: none !important;
  outline: none !important;
}

body {
  font-family: sans-serif;
  background: green;
}
h2 {
  margin: 5px 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 0;
  text-align: center;
}

input {
  margin: 5px 10px;
}

#submit {
  background: green;
}
#reset {
  background: red;
}
#answer {
  border: 1px dashed #ccc;
  background: #eee;
  padding: 10px;
}

.cameraContainer { 
  position: relative;
  overflow: hidden;
  height: 700px; 
  width: 700px;
  margin: 100px auto 0 auto;
}

.videoContainer{ width: 150%; left: 0; right: 0; z-index:1; }
.canvasContainer{ position:absolute; left: 0; right: 0; z-index:2; }
.svgContainer{ height: 100%; position:absolute; left: 0; right: 0; z-index:3; }

/* LOADING ANIMATION */

.hide-ring {
  display: none;
} 

.show-ring {
  display: inline-block;
} 

.lds-dual-ring {
  z-index: 4;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



